<!-- external javascript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- start: JavaScript-->
<script src="/public/js/jquery-1.10.2.min.js"></script>
<script src="/public/js/jquery-migrate-1.2.1.min.js"></script>	
<script src="/public/js/jquery-ui-1.10.3.custom.min.js"></script>	
<script src="/public/js/jquery.ui.touch-punch.js"></script>	
<script src="/public/js/modernizr.js"></script>	
<script src="/public/js/bootstrap.min.js"></script>	
<script src="/public/js/jquery.cookie.js"></script>	
<script src='/public/js/fullcalendar.min.js'></script>	
<script src='/public/js/jquery.dataTables.min.js'></script>
<script src="/public/js/excanvas.js"></script>
<script src="/public/js/jquery.flot.js"></script>
<script src="/public/js/jquery.flot.pie.js"></script>
<script src="/public/js/jquery.flot.stack.js"></script>
<script src="/public/js/jquery.flot.resize.min.js"></script>
<script src="/public/js/jquery.flot.time.js"></script>
		
<script src="/public/js/jquery.chosen.min.js"></script>	
<script src="/public/js/jquery.uniform.min.js"></script>		
<script src="/public/js/jquery.cleditor.min.js"></script>	
<script src="/public/js/jquery.noty.js"></script>	
<script src="/public/js/jquery.elfinder.min.js"></script>	
<script src="/public/js/jquery.raty.min.js"></script>	
<script src="/public/js/jquery.iphone.toggle.js"></script>	
<script src="/public/js/jquery.uploadify-3.1.min.js"></script>	
<script src="/public/js/jquery.gritter.min.js"></script>	
<script src="/public/js/jquery.imagesloaded.js"></script>	
<script src="/public/js/jquery.masonry.min.js"></script>	
<script src="/public/js/jquery.knob.modified.js"></script>
<script src="/public/js/jquery.sparkline.min.js"></script>	
<script src="/public/js/jquery.json2html.js"></script>
<script src="/public/js/jquery.qrcode.min.js"></script>
<script src="/public/js/json2html.js"></script>	
<script src="/public/js/counter.min.js"></script>	
<script src="/public/js/raphael.2.1.0.min.js"></script>
<script src="/public/js/justgage.1.0.1.min.js"></script>	
<script src="/public/js/jquery.autosize.min.js"></script>	
<script src="/public/js/retina.js"></script>
<script src="/public/js/jquery.placeholder.min.js"></script>
<script src="/public/js/wizard.min.js"></script>
<script src="/public/js/core.min.js"></script>	
<script src="/public/js/charts.min.js"></script>	
<script src="/public/js/custom.min.js"></script>
<!-- end: JavaScript-->