<!-- The styles -->

<!-- start: CSS -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet" />
<link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/public/css/style.min.css" rel="stylesheet" />
<link href="/public/css/style-responsive.min.css" rel="stylesheet" />
<link href="/public/css/retina.css" rel="stylesheet" />
<link href="/public/css/pagination.css" rel="stylesheet" />
<!-- end: CSS -->

<link rel="shortcut icon" href="/public/image/favicon.ico">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />