<!-- left menu starts -->
<div id="sidebar-left" class="span2">
	<!--<div class="row-fluid actions">
		<input type="text" class="search span12" placeholder="..." />
	</div>-->

	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li><a class="submenu" href="/application/pack"><i class="icon-hdd"></i><span class="hidden-tablet"> 打包任务</span></a></li>
			<li><a class="submenu" href="/application/branch_management"><i class="icon-book"></i><span class="hidden-tablet"> 分支管理</span></a></li>
			<li><a href="http://10.32.138.249:8080/index.html"><i class="icon-eye-open"></i><span class="hidden-tablet">Logstash线上监控</span></a></li>
			<li><a href="http://mantis.ucweb.local/"><i class="icon-eye-open"></i><span class="hidden-tablet">Mantis</span></a></li>
			<li><a href="http://portal.ucweb.local/portal?start_system=projectmanager"><i class="icon-eye-open"></i><span class="hidden-tablet">UAPD</span></a></li>
			<li><a href="http://doc.ucweb.local/pages/viewpage.action?pageId=31532209&src=contextnavpagetreemode"><i class="icon-group"></i><span class="hidden-tablet">Confluence</span></a></li>
		</ul>

	</div>

</div>