<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a id="main-menu-toggle" class="hidden-phone open"><i class="icon-reorder"></i></a>
			<div class="row-fluid">
				<a class="brand span2" href="/application/index"><span>PP助手持续集成平台</span></a>
			</div>

			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav pull-right">
					<!-- start: User Dropdown -->
					<li class="dropdown">
						<a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
							<div class="avatar"><img src="/public/image/logo20.png" alt="Avatar" /></div>
							<div class="user">
								<span class="hello">欢迎!</span>
								<span class="name">管理员</span>
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-menu-title"></li>
							<li><a href="#"><i class="icon-user"></i> 账号</a></li>
							<li><a href="#"><i class="icon-cog"></i> 设置</a></li>
							<li><a href="#"><i class="icon-off"></i> 注销</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

	</div>

</div>

